[Unit]
Description = Todo Service
[Service]
Environment=REDIS_HOST=172.31.15.141
ExecStart=/bin/node /root/todo/server.js
SyslogIdentifier=todo
Restart=on-failure

[Install]
WantedBy=multi-user.target